{% extends 'base.html.twig' %}

{% block title 'Create a new pin'%}

{% block body%}

    {% if app.user %}
        <div class="formulaire">
            <div class="">
                <h1>Create Pin</h1>
                {{ form_start(monFormulaire) }}
                    {{ form_widget(monFormulaire, {'attr' : {'class' : 'form-control'} }) }}
                    <input type="submit" class="btn btn-secondary" value="Create Pin">
                {{ form_start(monFormulaire) }}
            </div>
    {% else %}
        <p class="text-center h5 mt-3   p-3">Please <a href="/login">authenticate yourself</a> or <a href="/register">create an account</a> to post!</p>
    {% endif %}

            </div>
{% endblock %}

